@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-blue: rgb(6, 33, 33);
  --neon-blue: rgb(50, 232, 232);
  --dark-blue: rgb(50, 50, 232);
  --white: rgb(255, 255, 255);
}

body {
  background-color: var(--bg-blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(6, 33, 33);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(124, 124, 124);
}

html {
  scroll-behavior: smooth !important;
}

.background {
  border: 2px solid red;
  z-index: 10;
  display: flex;
}

.foreground {
  border: 2px solid green;
  z-index: 20;
  display: flex;
}
